<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
            <meta name="keywords" content="Kanika Dawalia, Sketching, Slice of life,asliceoflifetoday">
          <link rel="stylesheet" href="styles/styles.css">

        <title>Slice of life</title>

        <style>
          
        </style>
    </head>
    <body>
 <!-- ----------------------------Site Header ----------------------------------  -->
<!--   <% include partials/nav.ejs %>   -->

<!-- -----------------------------Order ----------------------------------------->
<div class="page-section">
<div class="order">
<div class="wrapper">

    <!-- <form action="https://formspree.io/asliceoftoday@gmail.com" method="POST">
        <form action="/order" method="POST">

-->

<h1 style="text-align: center">Fill in the Order Details</h1>


<form class="orderform" method="POST">
<div class="ordertable" style="border: solid 2px orange; height:100%; width:100%;padding-top:50px;">
        <% include ./partials/messages.ejs   %>

        <table style="margin: 0 auto;">

<tr>
    <td>
            <label for="name">Name :</label>           

    </td>
    <td>
            <input 
            name="name" id="name"
             placeholder="Name"
              required="" 
              type="text"
              value="<%= typeof name != 'undefined'?name:'' %>"
              />
        
    </td>
</tr>
    <tr>
        <td>
                <label for="email">Email :</label>

        </td>
        <td>
                <input name="email"
                placeholder="Email" 
                required="" type="email" id="email"
                value="<%= typeof email != 'undefined'?email:'' %>"
                />
        </td>
    </tr>


   
    <tr>
        <td>    <label for="phone">Phone Number :</label>
        </td>
        <td>
                <input name="phone" id="phone"
                placeholder="Phone No."
                 required="" type="text"
                 value="<%= typeof phone != 'undefined'?phone:'' %>"
                 />
                 
        </td>
    </tr>
                
      <tr>
          <td>    <label for="sheetsize">Select Your Sheet Size :</label>
          </td>
          <td>
                <!-- <input name="sheet"
                placeholder="A1/A2/A3/A4."
                 required="" type="text"
                 value="<%= typeof sheet != 'undefined'?sheet:'' %>"
                 /> -->

                 

    
    <select name="sheet" id="sheetsize" value="<%= typeof sheet != 'undefined'?sheet:'' %>"
            >
            <option value="A1">A1</option>

        <option value="A2">A2</option>
        <option value="A3">A3</option>
        <option value="A4">A4</option> 
        
    </select> 
          </td>
      </tr>          
    
<tr>
    <td>
            <label for="kind">Select Your Sketch Type :</label>

    </td>
    <td>
            <!-- <input name="kind"
            placeholder="Colored/BNW"
             required="" type="text"
             value="<%= typeof kind != 'undefined'?kind:'' %>"
             /> -->
          <select name="kind" id="kind" value="<%= typeof kind != 'undefined'?kind:'' %>"
               >
              <option value="Colored Sketch">Colored Sketch</option>
              <option value="Black &amp; White">Black &amp; White</option>
              <option value="Pen Sketch">Pen Sketch</option>
               </select>
    </td>
</tr>
   
<tr>
    <td>
            <label for="date">Select a Delivery date :</label>

    </td>
    <td>
            <input name="date" id="date" required="" type="date" 
            value="<%= typeof date != 'undefined'?date:'' %>"
            />
            
    </td>
</tr>
        
<tr>
    <td>    <label for="info">Description :</label>
    </td>
    <td>

            <br><br>
            <textarea rows= "5" cols="50" name="info" id="info" placeholder="I want a Colored Sketch of..."
            value="<%= typeof info != 'undefined'?info:'' %>"
    
            > </textarea>
    </td>
    
</tr>
<tr>
    <td>
        <label for="ref">Upload reference image :</label>
    </td>
</tr>



    </table>
    <br><br>
    <input class="btn btn--orange"type="submit" value="Submit" />

    </div>
    </form>
</div>     
</div>
</div>
<!-- ---------------------------Footer section------------------------------- -->
<% include partials/footer.ejs %> 

             <script src="scripts/App.js"></script>               
    </body>
</html>
