<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
            <meta name="keywords" content="Kanika Dawalia, Sketching, Slice of life,asliceoflifetoday">
         <!--  <link rel="stylesheet" href="styles/styles.css"> -->

        <title>Welcome Admin</title>
        <style>
        table, th, td {
  border: 1px solid black;
}
        </style>
    </head>
    <body>

 <!-- ---------------------------------Site Header ----------------------------------  -->
 <% include partials/nav.ejs %> 

<!-- ----------------------------Welcome Admin--------------------------------------- -->    
<div class="page-section" style="text-align: center">
<div class="wrapper">
<h1>Welcome Admin</h1>
<a href="/logout" class="btn btn--orange">Logout</a>
<h2>Order List</h2>
<ul>
        <% for(var i=0 ;i< orders.length; i++){ %>
            <li> <%= orders[i].name %></li>

       <% } %>
    </ul>
    

<!-- Table -->
<table>
    <tr><td>Name</td> <td>Email</td> <td>Phone</td> <td>Sheet</td>  <td>Kind</td> <td>Date</td></tr>
    <%for(let i in orders){%>
        <tr>
            <td> <%= orders[i].name %></td>
            <td> <%= orders[i].email %></td>
            <td> <%= orders[i].phone %></td>
            <td> <%= orders[i].sheet %></td>
            <td> <%= orders[i].kind %></td>
            <td> <%= orders[i].date %></td>
        </tr>
    <%}%>
</table>
<!-- Table - END -->

    </div>
</div>
<!-- ---------------------------Footer section------------------------------- -->

<% include partials/footer.ejs %> 

<script src="scripts/App.js"></script>               
    </body>
</html>

        